# Trabajo Practico 2019 - Reciclaje en CABA

## Pesaje Recibido en Puntos Verdes (2015-2016) en kilogramos

### Primero importamos las librerías

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importamos reemplazando comas por puntos para poder los pesajes a tipo flotante. Primero elimino los 4 puntos excepcionales que hay.

In [2]:
comas_por_puntos = lambda x : (x.replace('.', '').replace(',', '.'))

filename = r'C:\Users\leoma\Desktop\UTN\Ciencia de Datos\DataSets\TP2019\pesaje-recibido-en-puntos-verdes-2015-2016.csv'
pesajes = pd.read_csv(filename, delimiter=';', decimal='.',
                      converters = {'VIDRIO':comas_por_puntos,
                                    'PAPEL_Y_CARTON':comas_por_puntos,
                                    'METAL':comas_por_puntos,
                                    'PLASTICO_PET':comas_por_puntos,
                                    'TELGOPOR':comas_por_puntos,
                                    'PLASTICOS_TODOS_LOS_DEMAS':comas_por_puntos,
                                    'TETRA_BRICK':comas_por_puntos,
                                    'PEQUENIOS_ELECTRODOMESTICOS':comas_por_puntos,
                                    'APARATOS_ELECTRONICOS_EN_DESUSO':comas_por_puntos,
                                    'AVUS':comas_por_puntos})

In [3]:
print(f'Pesajes tiene: {np.shape(pesajes)[0]} filas y {np.shape(pesajes)[0]} columnas')

pesajes.head()

Pesajes tiene: 3080 filas y 3080 columnas

,PUNTO,COMUNA,ANIO,MES,SEMANA,VIDRIO,PAPEL_Y_CARTON,METAL,PLASTICO_PET,TELGOPOR,PLASTICOS_TODOS_LOS_DEMAS,TETRA_BRICK,PEQUENIOS_ELECTRODOMESTICOS,APARATOS_ELECTRONICOS_EN_DESUSO,AVUS
0,ESTACION VILLA SOLDATI,COMUNA 8,2015,ABRIL,1,31.2,20.7,0.27,,0,13.41,0,,,
1,ESTACION VILLA SOLDATI,COMUNA 8,2015,ABRIL,2,2.231,44.878,0,,0,37.886,0.54,,,
2,ESTACION VILLA SOLDATI,COMUNA 8,2015,ABRIL,3,38.042,27.763,1.067,,0,17.57,0,,,
3,ESTACION VILLA SOLDATI,COMUNA 8,2015,ABRIL,4,28.42,37.64,1.48,,0,12.02,0,,,
4,ESTACION VILLA SOLDATI,COMUNA 8,2015,ABRIL,5,12.33,21.51,0,,0,4.36,0,,,

###  Mostramos los puntos y comunas distintas

In [4]:
comunas_distintas = np.unique(pesajes.COMUNA)
print(f'Hay {len(comunas_distintas)} comunas distintas')

puntos_distintos = np.unique(pesajes.PUNTO)
print(f'\nHay {len(puntos_distintos)} puntos distintos distribuidos entre las comunas')

Hay 15 comunas distintas

Hay 32 puntos distintos distribuidos entre las comunas

### Transformamos los meses a valores numéricos y separamos los años

In [5]:
meses = ["ENERO","FEBRERO","MARZO","ABRIL","MAYO","JUNIO","JULIO","AGOSTO","SEPTIEMBRE","OCTUBRE","NOVIEMBRE","DICIEMBRE"]
for i in range (1,13):
    pesajes.loc[ pesajes['MES'] == meses[i-1], 'MES'] = i

# Separo 2015 y 2016
pesajes_2015 = pesajes.loc[pesajes['ANIO'] == 2015]
pesajes_2016 = pesajes.loc[pesajes['ANIO'] == 2016]

### Vemos que porcenaje de datos faltantes hay por columna

In [6]:
# Primero reemplazo las cadenas vacias y los espacios ' ' por valor NaN para poder contarlos mas facil
pesajes = pesajes.replace('', np.nan).replace(' ', np.nan)

total = pesajes.isnull().sum().sort_values(ascending=False)
percent = (pesajes.isnull().sum()/pesajes.isnull().count()).sort_values(ascending=False)
nulos = pd.concat([total, percent], axis=1, keys=['Total', 'Porcentaje'])
nulos

                                 Total  Porcentaje
AVUS                              2993    0.971753
APARATOS_ELECTRONICOS_EN_DESUSO   2872    0.932468
PEQUENIOS_ELECTRODOMESTICOS       2872    0.932468
PLASTICO_PET                      1284    0.416883
TETRA_BRICK                        738    0.239610
TELGOPOR                           371    0.120455
METAL                              371    0.120455
PAPEL_Y_CARTON                     371    0.120455
VIDRIO                             370    0.120130
PLASTICOS_TODOS_LOS_DEMAS          369    0.119805
SEMANA                               0    0.000000
MES                                  0    0.000000
ANIO                                 0    0.000000
COMUNA                               0    0.000000
PUNTO                                0    0.000000

### Decidimos eliminar la columna de AVUs, y las de eletrodomesticos por tener menos del 90% de los datos
(solo estan en 2 comunas)

In [7]:
pesajes = pesajes.iloc[:,0:12]

Los PLASTICO_PET son de los materiales mas comunmente reciclables y lamentablemente es la columna que peor condicion tiene. Además de los registros nulos que tiene, tambien tienen en su mayoria valores 0. Por lo tanto decidimos eliminarla también.

In [8]:
vaciosPET = np.shape(pesajes.loc[(pesajes['PLASTICO_PET'] == "0")])[0] + pesajes.isnull().sum()[8]
print("Valores vacios en PLASTICO_PET: " + str(vaciosPET))

Valores vacios en PLASTICO_PET: 2311

In [9]:
pesajes = pesajes.iloc[:,[0,1,2,3,4,5,6,7,9,10,11]]
pesajes.head()

,PUNTO,COMUNA,ANIO,MES,SEMANA,VIDRIO,PAPEL_Y_CARTON,METAL,TELGOPOR,PLASTICOS_TODOS_LOS_DEMAS,TETRA_BRICK
0,ESTACION VILLA SOLDATI,COMUNA 8,2015,4,1,31.2,20.7,0.27,0,13.41,0
1,ESTACION VILLA SOLDATI,COMUNA 8,2015,4,2,2.231,44.878,0,0,37.886,0.54
2,ESTACION VILLA SOLDATI,COMUNA 8,2015,4,3,38.042,27.763,1.067,0,17.57,0
3,ESTACION VILLA SOLDATI,COMUNA 8,2015,4,4,28.42,37.64,1.48,0,12.02,0
4,ESTACION VILLA SOLDATI,COMUNA 8,2015,4,5,12.33,21.51,0,0,4.36,0

### El Dataset termina a la tercera semana de Septiembre de 2016 para todas las comunas excepto 2 que son las de datos mejor cargados. Decidimos eliminar los siguientes meses para todas las comunas y guardar los de las 2 comunas especiales para usarlos luego.

In [10]:
# Almacenamos los meses 10,11 y 12 de 2016 para las 2 comunas especiales (PLAZA ARENALES y PARQUE CENTENARIO)
pesajes_extra_Arenales_Centenario = pesajes.loc[((pesajes['ANIO'] == 2016) & (pesajes['MES'].isin([10,11,12])) & (pesajes['PUNTO'].isin(['PLAZA ARENALES','PARQUE CENTENARIO'])))]
pesajes_extra_Arenales_Centenario.head()

# Eliminamos los ultimos 3 meses
pesajes = pesajes.loc[~((pesajes['ANIO'] == 2016) & (pesajes['MES'].isin([10,11,12])))]

##   Criterios elegidos para limpiar el Dataframe

Dada la gran cantidad de datos faltantes o vacios, expresados de diversas formas, elegimos un criterio para seleccionar los puntos mas prometedores para trabajar.
### 1) Semana
    Si una semana esta llena de 0s, "", " ", NaNs es considerada VACIA
### 2) Mes
    Si un mes tiene 3 o más semanas VACIAS -> Esta VACIO
    Si un mes no esta cargado en el dataframe -> Esta VACIO
### 3) Punto
    Si un Punto tiene 4 o mas meses VACIOS en 2015 y 2016 -> Esta VACIO



### Cuento los meses que aparecen tienen 3 o mas semanas vacias

In [11]:
#Primero filtro las que tienen meses con todas las filas llenas de cero (si tienen esas 3 vacias, el resto tambien)
filtro1 = pesajes_2015['VIDRIO'].isin([0,np.nan," "])
filtro2 = pesajes_2015['PAPEL_Y_CARTON'].isin([0,np.nan," "])
sin_vacio = (filtro1 & filtro2)
pesajes_2015_semanas_vacias = pesajes_2015[sin_vacio].drop_duplicates().sort_values(by=['PUNTO', 'MES','SEMANA']).copy().reset_index(drop=True)

filtro1 = pesajes_2016['VIDRIO'].isin([0,np.nan," "])
filtro2 = pesajes_2016['PAPEL_Y_CARTON'].isin([0,np.nan," "])
sin_vacio = (filtro1 & filtro2)
pesajes_2016_semanas_vacias = pesajes_2016[sin_vacio].drop_duplicates().sort_values(by=['PUNTO', 'MES','SEMANA']).copy().reset_index(drop=True)

In [12]:
# Leo todas las semanas faltantes, si llego a 3 en el mismo mes lo guardo en el
# siguiente dataframe para luego borrarlos todos juntos

meses_Vacios_2015 = pd.DataFrame({"PUNTO":[],"ANIO":[],"MES":[]})
mesAnterior = 0 

for indice in range(0, len(pesajes_2015_semanas_vacias)):
    mesActual = pesajes_2015_semanas_vacias.iloc[indice].MES
    if (mesAnterior == mesActual):
        semanas_vacias_del_Mes += 1
        if(semanas_vacias_del_Mes != 3):
            continue
        else:
            meses_Vacios_2015 = meses_Vacios_2015.append(
                {"PUNTO": pesajes_2015_semanas_vacias.iloc[indice].PUNTO,
                 "ANIO": 2015,
                 "MES": mesActual}, ignore_index=True)
    else:
        mesAnterior = mesActual
        semanas_vacias_del_Mes = 1 #Reseteo el contador

meses_Vacios_2015_tabla = meses_Vacios_2015.groupby(["PUNTO", "ANIO"])["MES"].count().sort_values(ascending=False)
meses_Vacios_2015_tabla = pd.concat([meses_Vacios_2015_tabla], axis=1, keys=['Meses vacios por tener al menos 3 semanas vacias'])

# Mismo pasa para 2016
meses_Vacios_2016 = pd.DataFrame({"PUNTO":[],"ANIO":[],"MES":[]})
mesAnterior = 0

for indice in range(0, len(pesajes_2016_semanas_vacias)):
    mesActual = pesajes_2016_semanas_vacias.iloc[indice].MES
    if (mesAnterior == mesActual):
        semanas_vacias_del_Mes += 1
        if(semanas_vacias_del_Mes != 3):
            continue
        else:
            meses_Vacios_2016 = meses_Vacios_2016.append(
                {"PUNTO": pesajes_2016_semanas_vacias.iloc[indice].PUNTO,
                 "ANIO": 2016,
                 "MES": mesActual}, ignore_index=True)
    else:
        mesAnterior = mesActual
        semanas_vacias_del_Mes = 1 #Reseteo el contador

meses_Vacios_2016_tabla = meses_Vacios_2016.groupby(["PUNTO", "ANIO"])["MES"].count().sort_values(ascending=False)
meses_Vacios_2016_tabla = pd.concat([meses_Vacios_2016_tabla], axis=1, keys=['Meses vacios por tener al menos 3 semanas vacias'])

2015 no tiene meses faltantes no cargados.

En el Año 2016 hay muchos meses que no estan cargados. Vamos a contarlos incluyendo los que estan vacíos por cada uno de los Puntos.

Luego eliminamos los barrios que tengan 4 o mas meses vacios entre los 2 años.

### Junto todas las tablas en una que muestre el estado de los Puntos segun datos vacios y faltantes

In [13]:
## Creo un df de los meses que tengo cargados de cada año, ordenados
meses_cargados_2015 = pesajes_2015.iloc[:,[0,3]].drop_duplicates().sort_values(by=['PUNTO', 'MES'])
meses_cargados_2015 = meses_cargados_2015.copy().reset_index(drop=True)
meses_cargados_2016 = pesajes_2016.iloc[:,[0,3]].drop_duplicates().sort_values(by=['PUNTO', 'MES'])
meses_cargados_2016 = meses_cargados_2016.copy().reset_index(drop=True)
    
## Los comparo y obtengo un df de todos los meses faltantes con PUNTO y MES
meses_faltantes = pd.merge(meses_cargados_2015, meses_cargados_2016,how='outer', indicator=True).query('_merge == "left_only"')
meses_faltantes_por_barrio = meses_faltantes.groupby(["PUNTO"])["MES"].count().sort_values(ascending=False)
    
## Agrego los 2 puntos sin falta de meses para que quede completa la lista
puntos_sin_meses_faltantes = list(filter(lambda x: x not in meses_faltantes_por_barrio.index, puntos_distintos))
meses_faltantes_por_barrio[puntos_sin_meses_faltantes[0]] = 0
meses_faltantes_por_barrio[puntos_sin_meses_faltantes[1]] = 0

Tabla_Faltantes = pd.concat([meses_faltantes_por_barrio], axis=1, keys=['Meses faltantes por barrio en 2016'])
meses_faltantes = meses_faltantes.iloc[:,0:2]

Tabla_de_Vacios_Completa = meses_faltantes.groupby(["PUNTO"])["MES"].count().sort_values(ascending=False)
## Agrego los 2 puntos sin falta de meses para que quede completa la lista
puntos_sin_meses_faltantes_2 = list(filter(lambda x: x not in Tabla_de_Vacios_Completa.index, puntos_distintos))
Tabla_de_Vacios_Completa[puntos_sin_meses_faltantes_2[0]] = 0;Tabla_de_Vacios_Completa[puntos_sin_meses_faltantes_2[1]] = 0
Tabla_de_Vacios_Completa = Tabla_de_Vacios_Completa.to_frame().rename(columns = {"MES":"Faltantes_2016"})


Agregar_a_tabla_vacias = pesajes_2016_semanas_vacias.groupby(["PUNTO", "MES"]).filter(lambda x: x["SEMANA"].count() >= 3)
Agregar_a_tabla_vacias_filtrada_2016 = Agregar_a_tabla_vacias.iloc[:,[0,3]].drop_duplicates().sort_values(by=['PUNTO', 'MES'])
Agregar_a_tabla_vacias_filtrada_2016 = Agregar_a_tabla_vacias_filtrada_2016.groupby(["PUNTO"]).size().to_frame().rename(columns = {0: "Vacios_2016"})

Agregar_a_tabla_vacias_2015 = pesajes_2015_semanas_vacias.groupby(["PUNTO", "MES"]).filter(lambda x: x["SEMANA"].count() >= 3)
Agregar_a_tabla_vacias_filtrada_2015 = Agregar_a_tabla_vacias_2015.iloc[:,[0,3]].drop_duplicates().sort_values(by=['PUNTO', 'MES'])
Agregar_a_tabla_vacias_filtrada_2015 = Agregar_a_tabla_vacias_filtrada_2015.groupby(["PUNTO"]).size().to_frame().rename(columns = {0: "Vacios_2015"})

Tabla_de_Vacios_Completa = pd.merge(Tabla_de_Vacios_Completa, Agregar_a_tabla_vacias_filtrada_2016, how='left', on='PUNTO').fillna(0)
Tabla_de_Vacios_Completa = pd.merge(Tabla_de_Vacios_Completa, Agregar_a_tabla_vacias_filtrada_2015, how='left', on='PUNTO').fillna(0)
Tabla_de_Vacios_Completa['Meses_No_Utilizables'] = Tabla_de_Vacios_Completa.Faltantes_2016 + Tabla_de_Vacios_Completa.Vacios_2016 + Tabla_de_Vacios_Completa.Vacios_2015

### Decidimos borrar estos 4 Puntos por no cumplir el criterio de meses Vacios que definimos.

In [14]:
pesajes_criterio_de_limpieza = pesajes.loc[~pesajes['PUNTO'].isin(['ESTACION VILLA SOLDATI','PLAZA 25 DE AGOSTO','PLAZA VELAZCO IBARRA','PLAZA SAN MARTIN'])]

# Muestro la tabla ordenada por Meses No utilizables. Solo muestro los que no cumplen el criterio de meses faltantes
Tabla_de_Vacios_Completa.sort_values(by=['Meses_No_Utilizables'],ascending=False).iloc[0:4,:]

,Faltantes_2016,Vacios_2016,Vacios_2015,Meses_No_Utilizables
PUNTO,,,,
PLAZA 25 DE AGOSTO,4,5.0,11.0,20.0
ESTACION VILLA SOLDATI,4,5.0,4.0,13.0
PLAZA VELAZCO IBARRA,3,0.0,4.0,7.0
PLAZA SAN MARTIN,1,3.0,0.0,4.0

### Observando el Dataset pudimos ver que existen muchos nulos en ciertas quintas semanas de 2015 y 2016, estas semanas al corroborar con el calendario tenian muy pocos días. Asuminos esta como la razon de porque no se cargaron en casi ninguna comuna y las eliminamos

Podemos ver el estado actual de nulos para compararlo cuando eliminemos las quintas semanas del mes 6 y 11 para 2015 y el mes 1 y 9 para 2016

In [15]:
pesajes_con_nulo = pesajes_criterio_de_limpieza.replace('', np.nan).replace(' ', np.nan)
pesajes_1 = pesajes_con_nulo.loc[~((pesajes_con_nulo['ANIO'] == 2015) & (pesajes_con_nulo['MES'] == 6) & (pesajes_con_nulo['SEMANA'] == 5))]
pesajes_2 = pesajes_1.loc[~((pesajes_1['ANIO'] == 2015) & (pesajes_1['MES'] == 11) & (pesajes_1['SEMANA'] == 5))]
pesajes_3 = pesajes_2.loc[~((pesajes_2['ANIO'] == 2016) & (pesajes_2['MES'] == 1) & (pesajes_2['SEMANA'] == 5))]
pesajes_sin_quinta_vacias = pesajes_3.loc[~((pesajes_3['ANIO'] == 2016) & (pesajes_3['MES'] == 9) & (pesajes_3['SEMANA'] == 5))]

pesajes_ordenado = pesajes_sin_quinta_vacias.sort_values(by=['ANIO','MES'])
pesajes_ordenado.isnull().sum()

PUNTO                          0
COMUNA                         0
ANIO                           0
MES                            0
SEMANA                         0
VIDRIO                        38
PAPEL_Y_CARTON                39
METAL                         39
TELGOPOR                      39
PLASTICOS_TODOS_LOS_DEMAS     37
TETRA_BRICK                  377
dtype: int64

### Como termina en la tercera semana de Septiembre de 2016, la cuarta esta vacia. Decidimos llenar esta cuarta semana con una media da las primeras 3 semanas

In [16]:
for indice in range(0, len(pesajes_ordenado)):
    if ((pesajes_ordenado.iloc[indice,2:5] == [2016, 9, 4]).all()):
        media = round((pesajes_ordenado.iloc[indice-3,5:12].apply(lambda x: float(x)) +
                 pesajes_ordenado.iloc[indice-2,5:12].apply(lambda x: float(x)) +
                 pesajes_ordenado.iloc[indice-1,5:12].apply(lambda x: float(x)))
                 /3, 3)
        pesajes_ordenado.iloc[indice,5:12] = media.apply(lambda x: str(x))
        
#Relleno a mano 5 excepciones con las medias de los meses cercanos a ellas
for i in range (0,5):
    pesajes_ordenado.iloc[1996+i,5:12] = pesajes_ordenado.iloc[1967,5:12]
    
pesajes_ordenado.loc[2038,'PLASTICOS_TODOS_LOS_DEMAS'] = pesajes_ordenado.loc[2037,'PLASTICOS_TODOS_LOS_DEMAS']

In [17]:
VidriosNulos = pesajes_ordenado[pesajes_ordenado.iloc[:,5].isnull()] #VIDRIOS
PyCNulos = pesajes_ordenado[pesajes_ordenado.iloc[:,6].isnull()]     #PAPEL Y CARTON
MetalNulos = pesajes_ordenado[pesajes_ordenado.iloc[:,7].isnull()]   #METAL
TelgoporNulos = pesajes_ordenado[pesajes_ordenado.iloc[:,8].isnull()]#TELGOPOR
matsNulos = [VidriosNulos, PyCNulos, MetalNulos, TelgoporNulos]

for m in range(0, 4):
    for i in range(0, len(matsNulos[m])):
        medias = (pesajes_ordenado.loc[(pesajes_ordenado['MES'] == matsNulos[m]['MES'].iloc[i]) & (pesajes_ordenado['ANIO'] == matsNulos[m]['ANIO'].iloc[i]) & (pesajes_ordenado['PUNTO'] == matsNulos[m]['PUNTO'].iloc[i]) & 
                                       (pesajes_ordenado['VIDRIO'].notnull())].iloc[:,[5,6,7,9,10]]).apply(lambda x: x.apply(lambda x: float(x))).mean().apply(lambda x: str(round(x,2)))
        count = 0

        for c in ['VIDRIO','PAPEL_Y_CARTON','METAL','TELGOPOR','PLASTICOS_TODOS_LOS_DEMAS']:
            pesajes_ordenado.loc[matsNulos[m].index[i], c] = medias[count]
            count+=1
pesajes_ordenado = pesajes_ordenado.replace('nan', np.nan)
pesajes_ordenado.isnull().sum()

PUNTO                          0
COMUNA                         0
ANIO                           0
MES                            0
SEMANA                         0
VIDRIO                         4
PAPEL_Y_CARTON                 4
METAL                          4
TELGOPOR                       4
PLASTICOS_TODOS_LOS_DEMAS      5
TETRA_BRICK                  352
dtype: int64

### Por ultimo llenamos los Tetra Bricks que faltan usando las medias de las semanas(o mes en peor caso) anterior y siguiente

In [18]:
# En meses 1,2 y 3 de 2015 estan casi todos los vacios, los relleno con la media en el mismo punto de los meses 4 y 5
EneFebMar_TetraNulos = pesajes_ordenado.loc[(pesajes_ordenado['ANIO'] == 2015) & (pesajes_ordenado['MES'].isin([1,2,3])) & (pesajes_ordenado['TETRA_BRICK'].isnull())]

# Relleno con la media del los meses 4 y 5 que sean de mismo Punto
for i in range(0, len(EneFebMar_TetraNulos)):
    media = (pesajes_ordenado.loc[(pesajes_ordenado['MES'].isin([4,5])) & (pesajes_ordenado['ANIO'] == 2016) & (pesajes_ordenado['PUNTO'] == EneFebMar_TetraNulos['PUNTO'].iloc[i]) & 
                              (pesajes_ordenado['TETRA_BRICK'].notnull())].iloc[:,10]).apply(lambda x: float(x)).mean()
    media = str(round(media,2))
    pesajes_ordenado.loc[EneFebMar_TetraNulos.index[i],'TETRA_BRICK'] = media
    
# Los pocos Nulos faltantes los lleno las semanas con las medias de sus respectivos meses en sus respectivos puntos
TetraUltimosNulos = pesajes_ordenado[pesajes_ordenado.iloc[:,10].isnull()]
for i in range(0, len(TetraUltimosNulos)):
    media = (pesajes_ordenado.loc[(pesajes_ordenado['MES'] == TetraUltimosNulos['MES'].iloc[i]) & (pesajes_ordenado['ANIO'] == TetraUltimosNulos['ANIO'].iloc[i]) & (pesajes_ordenado['PUNTO'] == TetraUltimosNulos['PUNTO'].iloc[i]) & 
                                  (pesajes_ordenado['TETRA_BRICK'].notnull())].iloc[:,10]).apply(lambda x: float(x)).mean()
    media = str(round(media,2))
    pesajes_ordenado.loc[TetraUltimosNulos.index[i],'TETRA_BRICK'] = media

print(f"Chequeamos si quedo algun pasaje nulo: {pesajes_ordenado.isnull().sum().any()}")

Chequeamos si quedo algun pasaje nulo: True

In [19]:
export_csv = pesajes_ordenado.to_csv(r'pesajes_nulos.csv', index = None, header=True, sep=';')

In [20]:
pesajes_ordenado

,PUNTO,COMUNA,ANIO,MES,SEMANA,VIDRIO,PAPEL_Y_CARTON,METAL,TELGOPOR,PLASTICOS_TODOS_LOS_DEMAS,TETRA_BRICK
105,PARQUE AVELLANEDA,COMUNA 9,2015,1,1,163.23,123.67,27.55,0,67.17,8.54
106,PARQUE AVELLANEDA,COMUNA 9,2015,1,2,143.71,138.21,7.91,0,67.31,8.54
107,PARQUE AVELLANEDA,COMUNA 9,2015,1,3,134.47,154.43,7.24,1.42,75.35,8.54
108,PARQUE AVELLANEDA,COMUNA 9,2015,1,4,124.14,205.54,13.44,4.65,69.74,8.54
109,PARQUE AVELLANEDA,COMUNA 9,2015,1,5,104.16,111.43,8.5,0.78,64.36,8.54
199,PARQUE CENTENARIO,COMUNA 6,2015,1,1,341.87,353.68,14.68,6.94,60.33,10.97
200,PARQUE CENTENARIO,COMUNA 6,2015,1,2,262.15,336.5,11.95,6.59,37.37,13.29
201,PARQUE CENTENARIO,COMUNA 6,2015,1,3,254.82,338.6,23.69,6.77,108.02,25.39
202,PARQUE CENTENARIO,COMUNA 6,2015,1,4,156.54,334.72,156.15,5.8,65.42,19.42
203,PARQUE CENTENARIO,COMUNA 6,2015,1,5,544.17,297.92,8.71,4.88,102.17,16.83
297,PARQUE CHACABUCO,COMUNA 7,2015,1,1,164.6,112.33,6.67,0,80.75,13.62
298,PARQUE CHACABUCO,COMUNA 7,2015,1,2,158.03,218.65,11.61,0,84.3,13.62
299,PARQUE CHACABUCO,COMUNA 7,2015,1,3,204.13,315.41,9.04,1.21,96,13.62
300,PARQUE CHACABUCO,COMUNA 7,2015,1,4,279.51,298.73,18.4,0.56,129.05,13.62
301,PARQUE CHACABUCO,COMUNA 7,2015,1,5,123.16,92.14,2.16,0,72.24,13.62
391,PARQUE LOS ANDES,COMUNA 15,2015,1,1,118.66,76.52,5.73,1.31,45.66,7.88
392,PARQUE LOS ANDES,COMUNA 15,2015,1,2,62.21,132.85,4.87,0,48.55,7.88
393,PARQUE LOS ANDES,COMUNA 15,2015,1,3,140.33,122.9,9.65,0.69,148.71,7.88
394,PARQUE LOS ANDES,COMUNA 15,2015,1,4,124.35,275.11,12.18,1.28,87.83,7.88
395,PARQUE LOS ANDES,COMUNA 15,2015,1,5,66.72,136.74,8.9,1.39,82.3,7.88
485,PARQUE PATRICIOS,COMUNA 4,2015,1,1,134.55,153.66,1.23,0,112.87,3.7
486,PARQUE PATRICIOS,COMUNA 4,2015,1,2,266.26,228.16,23.78,0,151.15,3.7
487,PARQUE PATRICIOS,COMUNA 4,2015,1,3,185.58,203.56,19.48,0,120.6,3.7
488,PARQUE PATRICIOS,COMUNA 4,2015,1,4,196.23,175.2,10.54,0.62,158.32,3.7
489,PARQUE PATRICIOS,COMUNA 4,2015,1,5,125.16,148.33,1.19,0,120.1,3.7
579,PARQUE RIVADAVIA,COMUNA 6,2015,1,1,252.81,375.43,13.18,0,177.73,12.14
580,PARQUE RIVADAVIA,COMUNA 6,2015,1,2,282.76,306.59,33.04,5.27,193.54,12.14
581,PARQUE RIVADAVIA,COMUNA 6,2015,1,3,195.28,447.9,36.34,2.19,169.95,12.14
582,PARQUE RIVADAVIA,COMUNA 6,2015,1,4,169.28,309.62,23.17,2.67,180.42,12.14
583,PARQUE RIVADAVIA,COMUNA 6,2015,1,5,211.44,547.62,38.43,9.78,174.24,12.14
...,...,...,...,...,...,...,...,...,...,...,...
2187,PLAZA PALERMO VIEJO,COMUNA 14,2016,9,3,81.28,172.062,6.817,0,42.13,0
2188,PLAZA PALERMO VIEJO,COMUNA 14,2016,9,4,70.296,158.921,11.357,0.786,39.681,1.662
2279,PLAZA PUEYRREDON,COMUNA 7,2016,9,1,307.39,532.92,39.47,2.49,264.22,15.34
2280,PLAZA PUEYRREDON,COMUNA 7,2016,9,2,253.6,319.97,47.92,1.1,225.839,13.28
2281,PLAZA PUEYRREDON,COMUNA 7,2016,9,3,322.53,460.87,28.18,0,228.97,9.67
2282,PLAZA PUEYRREDON,COMUNA 7,2016,9,4,294.507,437.92,38.523,1.197,239.676,12.763
2480,PLAZA SANTOJANNI,COMUNA 9,2016,9,1,83.273,163.982,10.681,4.101,53.42,8.514
2481,PLAZA SANTOJANNI,COMUNA 9,2016,9,2,90.243,81.997,11.718,1.965,38.028,7.987
2482,PLAZA SANTOJANNI,COMUNA 9,2016,9,3,116.121,114.566,15.996,5.298,68.872,11.678
2483,PLAZA SANTOJANNI,COMUNA 9,2016,9,4,96.546,120.182,12.798,3.788,53.44,9.393
2578,PLAZA SUDAMERICANA,COMUNA 8,2016,9,1,128.471,106.95,20.117,0,84.44,5.347
2579,PLAZA SUDAMERICANA,COMUNA 8,2016,9,2,78.246,90.996,7.496,0,51.207,3.269
2580,PLAZA SUDAMERICANA,COMUNA 8,2016,9,3,63.775,70.567,9.52,7.098,159.274,1.037
2581,PLAZA SUDAMERICANA,COMUNA 8,2016,9,4,90.164,89.504,12.378,2.366,98.307,3.218
2767,PLAZA VELEZ SARSFIELD,COMUNA 10,2016,9,1,544.922,505.532,53.81,5.131,277.444,19.208
2768,PLAZA VELEZ SARSFIELD,COMUNA 10,2016,9,2,470.026,565.933,36.608,6.081,282.65,23.206
2769,PLAZA VELEZ SARSFIELD,COMUNA 10,2016,9,3,486.615,537.245,41.997,5.223,277.556,25.366
2770,PLAZA VELEZ SARSFIELD,COMUNA 10,2016,9,4,500.521,536.237,44.138,5.478,279.217,22.593
2861,PLAZA VERA PENIALOZA,COMUNA 1,2016,9,1,463.958,377.997,36.18,5.074,243.172,19.804
2862,PLAZA VERA PENIALOZA,COMUNA 1,2016,9,2,387.091,463.146,44.726,7.73,221.901,25.841
2863,PLAZA VERA PENIALOZA,COMUNA 1,2016,9,3,463.279,415.811,45.94,4.889,217.979,16.643
2864,PLAZA VERA PENIALOZA,COMUNA 1,2016,9,4,438.109,418.985,42.282,5.898,227.684,20.763
2955,PLAZOLETA REINO DE TAILANDIA,COMUNA 2,2016,9,1,91.694,167.034,17.78,1.002,67.232,5.477
2956,PLAZOLETA REINO DE TAILANDIA,COMUNA 2,2016,9,2,94.367,238.705,6.133,1,71.85,2.898
2957,PLAZOLETA REINO DE TAILANDIA,COMUNA 2,2016,9,3,86.974,101.401,10.953,1,36.353,3.42
2958,PLAZOLETA REINO DE TAILANDIA,COMUNA 2,2016,9,4,91.012,169.047,11.622,1.001,58.478,3.932
3049,PUERTO MADERO,COMUNA 1,2016,9,1,9.754,117.79,1,0,10.789,0
3050,PUERTO MADERO,COMUNA 1,2016,9,2,10.187,120.3,0,0,25.053,0
3051,PUERTO MADERO,COMUNA 1,2016,9,3,9.389,57.334,3.5,0,11.325,0
3052,PUERTO MADERO,COMUNA 1,2016,9,4,9.777,98.475,1.5,0.0,15.722,0.0