In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Pesaje Recibido en Puntos Verdes (2015-2016) en kilogramos.
#Importamos
filename = r'C:\Users\leoma\Desktop\UTN\Ciencia de Datos\DataSets\TP2019\pesaje-recibido-en-puntos-verdes-2015-2016.csv'
pesajes = pd.read_csv(filename, delimiter=';', decimal=',')
print(f'Pesajes tiene: {np.shape(pesajes)[0]} filas y {np.shape(pesajes)[0]} columnas')

Pesajes tiene: 3080 filas y 3080 columnas

###  Cuantos puntos y comunas distintas hay?

Mapa de comunas en este [link](https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F4%2F4b%2FBuenos_Aires_Comunas.svg%2F1200px-Buenos_Aires_Comunas.svg.png&imgrefurl=https%3A%2F%2Fes.wikipedia.org%2Fwiki%2FComunas_de_la_ciudad_de_Buenos_Aires&docid=Ezlwe5ezJGTRlM&tbnid=FSUavRrKMRElQM%3A&vet=10ahUKEwiXpNLmjs7kAhW2HbkGHTRqD2sQMwhRKAAwAA..i&w=1200&h=1222&bih=878&biw=958&q=comunas%20caba&ved=0ahUKEwiXpNLmjs7kAhW2HbkGHTRqD2sQMwhRKAAwAA&iact=mrc&uact=8)

In [3]:
comunas_distintas = np.unique(pesajes.COMUNA)
print(f'Hay {len(comunas_distintas)} comunas distintas')

puntos_distintos = np.unique(pesajes.PUNTO)
print(f'Hay {len(puntos_distintos)} puntos distintos distribuidos entre las comunas')
#pesajes['VIDRIO'][0]

Hay 15 comunas distintas
Hay 32 puntos distintos distribuidos entre las comunas

### Transformamos los meses a valores numéricos

In [4]:
pesajes.loc[ pesajes['MES'] == "ENERO", 'MES'] = 1
pesajes.loc[ pesajes['MES'] == "FEBRERO", 'MES'] = 2
pesajes.loc[ pesajes['MES'] == "MARZO", 'MES'] = 3
pesajes.loc[ pesajes['MES'] == "ABRIL", 'MES'] = 4
pesajes.loc[ pesajes['MES'] == "MAYO", 'MES'] = 5
pesajes.loc[ pesajes['MES'] == "JUNIO", 'MES'] = 6
pesajes.loc[ pesajes['MES'] == "JULIO", 'MES'] = 7
pesajes.loc[ pesajes['MES'] == "AGOSTO", 'MES'] = 8
pesajes.loc[ pesajes['MES'] == "SEPTIEMBRE", 'MES'] = 9
pesajes.loc[ pesajes['MES'] == "OCTUBRE", 'MES'] = 10
pesajes.loc[ pesajes['MES'] == "NOVIEMBRE", 'MES'] = 11
pesajes.loc[ pesajes['MES'] == "DICIEMBRE", 'MES'] = 12

#Separo 2015 y 2016
pesajes_2015 = pesajes.loc[pesajes['ANIO'] == 2015]
pesajes_2016 = pesajes.loc[pesajes['ANIO'] == 2016]

##   Criterios elegidos para limpiar el Dataframe

### Semana
Si una semana esta llena de 0s, "", " ", NaNs es considerada VACIA
### Mes
Si un mes tiene 3 o más semanas VACIAS -> Esta VACIO
Si un mes no esta cargado en el dataframe -> Esta VACIO
### Punto
Si un Punto tiene 4 o mas meses VACIOS en 2015 y 2016 -> Esta VACIO



### Cuento los meses que aparecen tienen 3 o mas semanas vacias, es decir con su fila rellena de  0, "", " " o NaN.

In [5]:
#Primero filtro las que tienen meses con todas las filas llenas de cero (si tienen esas 3 vacias, el resto tambien)
filtro1 = pesajes_2015['VIDRIO'].isin([0,np.nan," "])
filtro2 = pesajes_2015['PAPEL_Y_CARTON'].isin([0,np.nan," "])
filtro3 = pesajes_2015['AVUS'].isin([0,np.nan," "])
sin_vacio = (filtro1 & filtro2 & filtro3)
pesajes_2015_semanas_vacias = pesajes_2015[sin_vacio].drop_duplicates().sort_values(by=['PUNTO', 'MES','SEMANA']).copy().reset_index(drop=True)


filtro1 = pesajes_2016['VIDRIO'].isin([0,np.nan," "])
filtro2 = pesajes_2016['PAPEL_Y_CARTON'].isin([0,np.nan," "])
filtro3 = pesajes_2016['AVUS'].isin([0,np.nan," "])
sin_vacio = (filtro1 & filtro2 & filtro3)
pesajes_2016_semanas_vacias = pesajes_2016[sin_vacio].drop_duplicates().sort_values(by=['PUNTO', 'MES','SEMANA']).copy().reset_index(drop=True)

In [6]:
# Leo todas las semanas faltantes, si llego a 3 en el mismo mes lo guardo en el
# siguiente dataframe para luego borrarlos todos juntos
meses_Vacios_2015 = pd.DataFrame({"PUNTO":[],"ANIO":[],"MES":[]})

mesAnterior = 0 #lo arranco en un mes inexistente

for indice in range(0, len(pesajes_2015_semanas_vacias)):
    mesActual = pesajes_2015_semanas_vacias.iloc[indice].MES
    if (mesAnterior == mesActual):
        semanas_vacias_del_Mes += 1
        if(semanas_vacias_del_Mes != 3):
            continue
        else:
            meses_Vacios_2015 = meses_Vacios_2015.append(
                {"PUNTO": pesajes_2015_semanas_vacias.iloc[indice].PUNTO,
                 "ANIO": 2015,
                 "MES": mesActual}, ignore_index=True)
    else:
        mesAnterior = mesActual
        semanas_vacias_del_Mes = 1 #Reseteo el contador

meses_Vacios_2015_tabla = meses_Vacios_2015.groupby(["PUNTO", "ANIO"])["MES"].count().sort_values(ascending=False)
meses_Vacios_2015_tabla = pd.concat([meses_Vacios_2015_tabla], axis=1, keys=['Meses vacios por tener al menos 3 semanas vacias'])
meses_Vacios_2015_tabla

                               Meses vacios por tener al menos 3 semanas vacias
PUNTO                  ANIO
PLAZA 25 DE AGOSTO     2015.0                                                11
PLAZA VELAZCO IBARRA   2015.0                                                 4
ESTACION VILLA SOLDATI 2015.0                                                 4

In [7]:
# Leo todas las semanas faltantes, si llego a 3 en el mismo mes lo guardo en el
# siguiente dataframe para luego borrarlos todos juntos
meses_Vacios_2016 = pd.DataFrame({"PUNTO":[],"ANIO":[],"MES":[]})

mesAnterior = 0 #lo arranco en un mes inexistente

for indice in range(0, len(pesajes_2016_semanas_vacias)):
    mesActual = pesajes_2016_semanas_vacias.iloc[indice].MES
    if (mesAnterior == mesActual):
        semanas_vacias_del_Mes += 1
        if(semanas_vacias_del_Mes != 3):
            continue
        else:
            meses_Vacios_2016 = meses_Vacios_2016.append(
                {"PUNTO": pesajes_2016_semanas_vacias.iloc[indice].PUNTO,
                 "ANIO": 2016,
                 "MES": mesActual}, ignore_index=True)
    else:
        mesAnterior = mesActual
        semanas_vacias_del_Mes = 1 #Reseteo el contador

meses_Vacios_2016_tabla = meses_Vacios_2016.groupby(["PUNTO", "ANIO"])["MES"].count().sort_values(ascending=False)
meses_Vacios_2016_tabla = pd.concat([meses_Vacios_2016_tabla], axis=1, keys=['Meses vacios por tener al menos 3 semanas vacias'])
meses_Vacios_2016_tabla

                               Meses vacios por tener al menos 3 semanas vacias
PUNTO                  ANIO
PLAZA 25 DE AGOSTO     2016.0                                                 8
ESTACION VILLA SOLDATI 2016.0                                                 8
PLAZA SAN MARTIN       2016.0                                                 3
PLAZA M BELGRANO       2016.0                                                 2
PLAZA SUDAMERICANA     2016.0                                                 1

2015 no tiene meses faltantes no cargados.

En el Año 2016 hay muchos meses que no estan cargados. Vamos a contarlos incluyendo los que estan vacíos por cada uno de los Puntos.

Luego eliminamos los barrios que tengan 4 o mas meses vacios entre los 2 años.

In [8]:
## Creo un df de los meses que tengo cargados de cada año, ordenados
meses_cargados_2015 = pesajes_2015.iloc[:,[0,3]].drop_duplicates().sort_values(by=['PUNTO', 'MES'])
meses_cargados_2015 = meses_cargados_2015.copy().reset_index(drop=True)
print(f'\n2015 tiene todos los meses cargados, 32(puntos)x12(meses) = {np.shape(meses_cargados_2015)[0]}\n')

meses_cargados_2016 = pesajes_2016.iloc[:,[0,3]].drop_duplicates().sort_values(by=['PUNTO', 'MES'])
meses_cargados_2016 = meses_cargados_2016.copy().reset_index(drop=True)
print(f'2016 le faltan meses en algunos Puntos, tiene {np.shape(meses_cargados_2016)[0]} meses cargados')
print(f'\nLos numeros de meses que faltan por cada Punto esta guardada en\nla variable meses_faltantes')
    
## Los comparo y obtengo un df de todos los meses faltantes con PUNTO y MES
meses_faltantes = pd.merge(meses_cargados_2015, meses_cargados_2016,
                           how='outer', indicator=True).query('_merge == "left_only"')

meses_faltantes_por_barrio = meses_faltantes.groupby(["PUNTO"])["MES"].count().sort_values(ascending=False)
    
## Agrego los 2 puntos sin falta de meses para que quede completa la lista
puntos_sin_meses_faltantes = list(filter(lambda x: x not in meses_faltantes_por_barrio.index, puntos_distintos))
meses_faltantes_por_barrio[puntos_sin_meses_faltantes[0]] = 0
meses_faltantes_por_barrio[puntos_sin_meses_faltantes[1]] = 0

Tabla_Faltantes = pd.concat([meses_faltantes_por_barrio], axis=1, keys=['Meses faltantes por barrio en 2016'])

meses_faltantes = meses_faltantes.iloc[:,0:2]

#Tabla_Faltantes

print("\nTabla_Faltantes tiene la cantidad de meses faltantes por barrio\nen 2016")

2015 tiene todos los meses cargados, 32(puntos)x12(meses) = 384

2016 le faltan meses en algunos Puntos, tiene 298 meses cargados

Los numeros de meses que faltan por cada Punto esta guardada en
la variable meses_faltantes

Tabla_Faltantes tiene la cantidad de meses faltantes por barrio
en 2016

In [9]:
Tabla_de_Vacios_Completa = meses_faltantes.groupby(["PUNTO"])["MES"].count().sort_values(ascending=False)

## Agrego los 2 puntos sin falta de meses para que quede completa la lista
puntos_sin_meses_faltantes_2 = list(filter(lambda x: x not in Tabla_de_Vacios_Completa.index, puntos_distintos))
Tabla_de_Vacios_Completa[puntos_sin_meses_faltantes_2[0]] = 0
Tabla_de_Vacios_Completa[puntos_sin_meses_faltantes_2[1]] = 0
Tabla_de_Vacios_Completa = Tabla_de_Vacios_Completa.to_frame().rename(columns = {"MES":"Faltantes_2016"})

In [10]:
Agregar_a_tabla_vacias = pesajes_2016_semanas_vacias.groupby(["PUNTO", "MES"]).filter(lambda x: x["SEMANA"].count() >= 3)
Agregar_a_tabla_vacias_filtrada_2016 = Agregar_a_tabla_vacias.iloc[:,[0,3]].drop_duplicates().sort_values(by=['PUNTO', 'MES'])
Agregar_a_tabla_vacias_filtrada_2016 = Agregar_a_tabla_vacias_filtrada_2016.groupby(["PUNTO"]).size().to_frame().rename(columns = {0: "Vacios_2016"})

Agregar_a_tabla_vacias_2015 = pesajes_2015_semanas_vacias.groupby(["PUNTO", "MES"]).filter(lambda x: x["SEMANA"].count() >= 3)
Agregar_a_tabla_vacias_filtrada_2015 = Agregar_a_tabla_vacias_2015.iloc[:,[0,3]].drop_duplicates().sort_values(by=['PUNTO', 'MES'])
Agregar_a_tabla_vacias_filtrada_2015 = Agregar_a_tabla_vacias_filtrada_2015.groupby(["PUNTO"]).size().to_frame().rename(columns = {0: "Vacios_2015"})

Tabla_de_Vacios_Completa = pd.merge(Tabla_de_Vacios_Completa, Agregar_a_tabla_vacias_filtrada_2016, how='left', on='PUNTO').fillna(0)
Tabla_de_Vacios_Completa = pd.merge(Tabla_de_Vacios_Completa, Agregar_a_tabla_vacias_filtrada_2015, how='left', on='PUNTO').fillna(0)
Tabla_de_Vacios_Completa['Meses_No_Utilizables'] = Tabla_de_Vacios_Completa.Faltantes_2016 + Tabla_de_Vacios_Completa.Vacios_2016 + Tabla_de_Vacios_Completa.Vacios_2015

# Muestro la tabla ordenada por Meses No utilizables
Tabla_de_Vacios_Completa.sort_values(by=['Meses_No_Utilizables'],ascending=False)

,Faltantes_2016,Vacios_2016,Vacios_2015,Meses_No_Utilizables
PUNTO,,,,
PLAZA 25 DE AGOSTO,4,8.0,11.0,23.0
ESTACION VILLA SOLDATI,4,8.0,4.0,16.0
PLAZA VELAZCO IBARRA,3,0.0,4.0,7.0
PLAZA M BELGRANO,3,2.0,0.0,5.0
PLAZA SAN MARTIN,1,3.0,0.0,4.0
PUERTO MADERO,3,0.0,0.0,3.0
PLAZA CASTELLI (COMUNA 13),3,0.0,0.0,3.0
PLAZA VERA PENIALOZA,3,0.0,0.0,3.0
PLAZA VELEZ SARSFIELD,3,0.0,0.0,3.0
PLAZA SANTOJANNI,3,0.0,0.0,3.0
PLAZA PUEYRREDON,3,0.0,0.0,3.0
PLAZA PALERMO VIEJO,3,0.0,0.0,3.0
PLAZA M DE ANDREA,3,0.0,0.0,3.0
PLAZA DON BOSCO,3,0.0,0.0,3.0
PLAZA COLOMBIA,3,0.0,0.0,3.0
PLAZA BOEDO,3,0.0,0.0,3.0
PARQUE RIVADAVIA,3,0.0,0.0,3.0
PLAZOLETA REINO DE TAILANDIA,3,0.0,0.0,3.0
PARQUE AVELLANEDA,3,0.0,0.0,3.0
PARQUE CHACABUCO,3,0.0,0.0,3.0
PARQUE LOS ANDES,3,0.0,0.0,3.0
PLAZA BALCARCE,3,0.0,0.0,3.0
PARQUE PATRICIOS,3,0.0,0.0,3.0
PARQUE SAAVEDRA,3,0.0,0.0,3.0
PLAZA 1RO DE MAYO,3,0.0,0.0,3.0
PLAZA A DEL VALLE,3,0.0,0.0,3.0
PLAZA ALEM,3,0.0,0.0,3.0
PLAZA ALMAGRO,3,0.0,0.0,3.0
PLAZA SUDAMERICANA,1,1.0,0.0,2.0
PLAZA GUEMES,1,0.0,0.0,1.0
PARQUE CENTENARIO,0,0.0,0.0,0.0
PLAZA ARENALES,0,0.0,0.0,0.0

### Decidimos borrar los siguientes 5 de 32 Puntos por tener tantos datos faltantes según el criterio explicado anteriormente
    PLAZA 25 DE AGOSTO
    ESTACION VILLA SOLDATI
    PLAZA VELAZCO IBARRA
    PLAZA M BELGRANO
    PLAZA SAN MARTIN

In [22]:
pesajes_criterio_de_limpieza = pesajes.loc[~pesajes['PUNTO'].isin(['ESTACION VILLA SOLDATI',
                                                                 'PLAZA 25 DE AGOSTO',
                                                                 'PLAZA VELAZCO IBARRA',
                                                                 'PLAZA M BELGRANO',
                                                                 'PLAZA SAN MARTIN'])]
pesajes_criterio_de_limpieza

,PUNTO,COMUNA,ANIO,MES,SEMANA,VIDRIO,PAPEL_Y_CARTON,METAL,PLASTICO_PET,TELGOPOR,PLASTICOS_TODOS_LOS_DEMAS,TETRA_BRICK,PEQUENIOS_ELECTRODOMESTICOS,APARATOS_ELECTRONICOS_EN_DESUSO,AVUS
90,PARQUE AVELLANEDA,COMUNA 9,2015,4,1,"115,01","166,29","16,81",,"1,17","81,31","4,95",,,
91,PARQUE AVELLANEDA,COMUNA 9,2015,4,2,"113,971","113,558","28,473",,"1,309","90,877","6,309",,,
92,PARQUE AVELLANEDA,COMUNA 9,2015,4,3,"140,212","152,93","17,685",,"2,272","97,397","6,942",,,
93,PARQUE AVELLANEDA,COMUNA 9,2015,4,4,"88,981","129,333","14,799",,"1,313","68,857","4,322",,,
94,PARQUE AVELLANEDA,COMUNA 9,2015,4,5,"52,79","84,22","3,51",,0,"31,27",0,,,
95,PARQUE AVELLANEDA,COMUNA 9,2015,8,1,"118,564","233,942","17,714","162,621",0,"93,361",4,,,
96,PARQUE AVELLANEDA,COMUNA 9,2015,8,2,"87,137","140,941","23,28","164,212",0,"56,724","0,735",,,
97,PARQUE AVELLANEDA,COMUNA 9,2015,8,3,"143,021","251,001","31,318","214,616",0,"110,665","9,273",,,
98,PARQUE AVELLANEDA,COMUNA 9,2015,8,4,"161,577","284,751","30,039","199,761",0,"115,304","6,4",,,
99,PARQUE AVELLANEDA,COMUNA 9,2015,8,5,"174,18","363,12","16,808","181,444",0,"100,712","5,514",,,
100,PARQUE AVELLANEDA,COMUNA 9,2015,12,1,"135,662","231,657","21,328",0,"6,195","100,881","5,15",,,
101,PARQUE AVELLANEDA,COMUNA 9,2015,12,2,"131,692","211,921","21,561",0,"2,133","78,268","10,494",,,
102,PARQUE AVELLANEDA,COMUNA 9,2015,12,3,"148,445","181,094","22,375",0,"3,694","123,316","7,552",,,
103,PARQUE AVELLANEDA,COMUNA 9,2015,12,4,"178,649","145,535","23,011",0,"2,359","77,71","2,902",,,
104,PARQUE AVELLANEDA,COMUNA 9,2015,12,5,"277,811","188,704","25,173",0,"7,178","97,518","10,812",,,
105,PARQUE AVELLANEDA,COMUNA 9,2015,1,1,"163,23","123,67","27,55",,0,"67,17",,,,
106,PARQUE AVELLANEDA,COMUNA 9,2015,1,2,"143,71","138,21","7,91",,0,"67,31",,,,
107,PARQUE AVELLANEDA,COMUNA 9,2015,1,3,"134,47","154,43","7,24",,"1,42","75,35",,,,
108,PARQUE AVELLANEDA,COMUNA 9,2015,1,4,"124,14","205,54","13,44",,"4,65","69,74",,,,
109,PARQUE AVELLANEDA,COMUNA 9,2015,1,5,"104,16","111,43","8,5",,"0,78","64,36",,,,
110,PARQUE AVELLANEDA,COMUNA 9,2015,2,1,"152,32","106,41","9,56",,0,"51,22",,,,
111,PARQUE AVELLANEDA,COMUNA 9,2015,2,2,"113,71","138,21","7,91",,"1,91","67,31",,,,
112,PARQUE AVELLANEDA,COMUNA 9,2015,2,3,"84,78","180,87","9,09",,0,"65,77",,,,
113,PARQUE AVELLANEDA,COMUNA 9,2015,2,4,"104,69","182,77","10,87",,0,"79,46",,,,
114,PARQUE AVELLANEDA,COMUNA 9,2015,7,1,"190,163","245,018","12,865","188,462","1,565","59,204","5,804",,,
115,PARQUE AVELLANEDA,COMUNA 9,2015,7,2,"128,118","187,724","35,423","382,859","5,378","95,604","8,967",,,
116,PARQUE AVELLANEDA,COMUNA 9,2015,7,3,"124,215","225,704","21,294","342,514",0,"109,724","5,274",,,
117,PARQUE AVELLANEDA,COMUNA 9,2015,7,4,"163,39","756,63","12,7","170,69",0,"90,3","4,24",,,
118,PARQUE AVELLANEDA,COMUNA 9,2015,6,1,"125,057","312,298","14,674","353,021","3,207","53,485","5,925",,,
119,PARQUE AVELLANEDA,COMUNA 9,2015,6,2,"170,63","145,257","19,656","378,218","2,411","76,658","13,336",,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3050,PUERTO MADERO,COMUNA 1,2016,9,2,"10,187","120,3",0,NaN,0,"25,053",0,NaN,NaN,NaN
3051,PUERTO MADERO,COMUNA 1,2016,9,3,"9,389","57,334","3,5",NaN,0,"11,325",0,NaN,NaN,NaN
3052,PUERTO MADERO,COMUNA 1,2016,9,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3053,PUERTO MADERO,COMUNA 1,2016,9,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3054,PARQUE CENTENARIO,COMUNA 6,2016,11,1,"387,057","778,211","25,3","101,194","7,891","251,071","18,745","31,156","130,73","17,6"
3055,PARQUE CENTENARIO,COMUNA 6,2016,11,2,"298,85","752,227","17,514","76,949","4,735","167,547","13,529","23,306","56,481","26,4"
3056,PARQUE CENTENARIO,COMUNA 6,2016,11,3,"165,908","335,4","14,929","68,223","3,893","82,49","21,027","19,186","38,624",22
3057,PARQUE CENTENARIO,COMUNA 6,2016,11,4,"264,742","447,998","20,285","37,606","18,342","136,361","14,159","42,552","70,24",44
3058,PLAZA ARENALES,COMUNA 11,2016,11,1,"653,364","1189,367","30,616","215,471","27,03","306,589","27,03","27,74","54,75","35,99"
3059,PLAZA ARENALES,COMUNA 11,2016,11,2,"871,141","1375,584","32,52","259,423","9,623","290,974","38,186","167,674","182,976","32,56"
3060,PLAZA ARENALES,COMUNA 11,2016,11,3,"938,9","1306,463","63,5","271,67","10,374","338,924","36,136","122,698","198,049","8,8"
3061,PLAZA ARENALES,COMUNA 11,2016,11,4,"712,82","953,545","32,6","235,066","9,141","302,269","16,507","81,869","217,141","35,2"
3062,PLAZA GUEMES,COMUNA 14,2016,11,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6,16"
3063,PLAZA GUEMES,COMUNA 14,2016,11,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"13,2"
3064,PLAZA GUEMES,COMUNA 14,2016,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44
3065,PLAZA GUEMES,COMUNA 14,2016,11,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"17,6"
3066,PLAZA SUDAMERICANA,COMUNA 8,2016,11,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,76"
3067,PLAZA SUDAMERICANA,COMUNA 8,2016,11,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,056"
3068,PLAZA SUDAMERICANA,COMUNA 8,2016,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"8,8"
3069,PLAZA SUDAMERICANA,COMUNA 8,2016,11,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4,4"
3070,PARQUE CENTENARIO,COMUNA 6,2016,12,1,"329,984","610,387","22,215","76,343","4,599","139,759","8,603","28,113","86,545","26,576"
3071,PARQUE CENTENARIO,COMUNA 6,2016,12,2,"383,194","571,736","17,367","89,647","6,82","162,844","21,534","94,586","134,125","130,5"
3072,PARQUE CENTENARIO,COMUNA 6,2016,12,3,"242,445","601,388","12,505","98,552","5,241","144,428","27,235","44,569","97,609","35,2"
3073,PARQUE CENTENARIO,COMUNA 6,2016,12,4,"335,436","619,398","19,187","59,804","2,996","123,124","11,479","4,994","53,728","13,64"
3074,PARQUE CENTENARIO,COMUNA 6,2016,12,5,"470,249","1154,007","31,622","164,664","5,512","146,346","26,21","94,767","134,145","8,89"
3075,PLAZA ARENALES,COMUNA 11,2016,12,1,"948,639","1291,304","57,743","291,558","8,028","288,202","24,406","102,955","294,847","26,84"
3076,PLAZA ARENALES,COMUNA 11,2016,12,2,"977,875","1614,608","45,038","275,053","8,568","357,738","17,727","85,162","273,249","132,528"
3077,PLAZA ARENALES,COMUNA 11,2016,12,3,"799,564","1382,172","35,12","249,659","6,48","221,876","38,498","94,379","224,842","12,32"
3078,PLAZA ARENALES,COMUNA 11,2016,12,4,"786,412","1184,086","24,871","206,937","20,648","195,612","20,893","45,351","70,141","27,104"
3079,PLAZA ARENALES,COMUNA 11,2016,12,5,"858,121","1087,819","101,145","287,571","14,571","282,258","44,207","69,095","55,239",11